@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0; 
    padding: 0;
}



.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 3px solid #c5050c;
  margin: 0;
}

#search_query {
  flex: 1;
  padding: 1%;
  font-size: 2rem;
  margin: 0;
  border: none;
}

.submit {
  padding: 1% 3%;
  border: none;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;

} 
.submit:hover {
  background-color: #c5050c;
  color: white;
}

.info-subbox {
  flex: 1;
  padding: 3%;
  font-size: 1.5rem;
  margin-top: 3%;
  margin-bottom: 3%;
  border: none;
  background-color: #ebe9e9;
  border-radius: 20px;
}
@media (max-width: 600px) {
  #search_query {
    width: 90%; /* Set to 100% width on smaller screens */
    margin-top: 10px; 
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .container {
    flex-direction: column;
  }

  .submit {
    width: 90%; /* Set to 100% width on smaller screens */
    margin-top: 10px; /* Add some spacing between the search bar and the button */
    margin-bottom: 10px; /* Add some spacing between the search bar and the button */
  }
  .button-grid {
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50% !important; /* Adjust the number and size as needed */
    row-gap: 1rem;
    margin: 0 1rem;
    /* align the buttons to the center */
    justify-content: center;
  }
  .grid-item {
    height: 5rem;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  .info-box {
    flex-basis: 100% !important;
  }
}


.index_header {
  font-size: 3rem;
  font-weight: 600;
  /* center the text */
}

.index_subheader {
  font-size: 2rem;
  font-weight: 500;
  color: grey;
  margin: -0.5rem 0;
}

.index_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0rem;;
    font-size: 1.5rem;
  }

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    font-style: italic;
}



.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3%;
  margin-bottom: 3%;
}
canvas {
  width: 100%;
  height: 100%;
  align-items: center;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Example grid layout */
  gap: 0.5rem; /* Adjust the gap between grid items */
    margin: 1rem;
    /* align the buttons to the center */
    box-sizing: border-box;
    justify-content: center;
}
form {
  box-sizing: border-box;
}

.grid-item {
  text-align: center;
  padding: 10px;
  height: 7rem;
  font-size: 1rem;
  border: none;
}
.grid-item:hover {
  border-top: 3px solid #c5050c;
  background-color: rgb(210, 210, 210); 
}

.info-container {
  display: flex;
  flex-wrap: wrap;
}

.info-box {
  flex: 1;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

a {
  text-decoration: underline;
  color: #0479A8;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}



